.longcardBody{
    margin-top: 9rem;
    padding: 0;
}

.h4color h4{
    color: white;
    font-size: 2rem;
}

.h4color p{
    color: #cccccc;
}

.color {
    background-color: #0099ff;
    height: 17rem; 
} 

.maincontent {
    background-color: #595959;
}

row::after {
    clear: both;
}

.zeromargin {
    margin: 0;
}

/* Media Query */
@media only screen and (max-width: 600px){
    .color{
        height: 10rem;
    }

    .maincontent{
        width: 100%;
        font-size: 50%;
        padding: 0;
    }

    .h4color {
        font-size: 20px;
        max-width: 100%;
        padding: 7px;
    }

    .h4color h4{
        font-size: 20px;
    }
} 

